*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background-color: #f1f1f1;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

#headerI
{
    padding: 42px 20px;
}

#headerI h1 
{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
}

#headerI p
{
    font-size: 15px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: center;
}

.txtBox
{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

#mainI
{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#section1M
{
    padding: 10px 0;
}

.cards
{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.cards > img
{
    width: 100%;
    height: 100%;
}

.cards > h3
{
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500;
    margin: 10px;
    text-transform: uppercase;
}

.cards > h5
{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin: 10px;
}

.cards > h5 > span
{
    opacity: 0.60;
}

.cards > p
{
    font-size: 15px;
    list-style: 1.5;
    font-weight: 400;
    margin: 20px 10px;
}

.buttonsC
{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnC
{
    display: inline-block;
    padding: 12px 24px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: 15px;
}

.btnC:hover
{
    background-color: #ccc;
}

.buttonsC > p
{
    font-size: 15px;
    line-height: 1.5;
    font-weight: bold;
}

.buttonsC > p > span
{
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 0 8px;
    text-align: center;
    margin-left: 12px;
}

.boxCircle
{
    border-radius: 50%;
}

#nameProfile
{
    text-transform: none;
}

#section2M
{
    padding: 5px 0;
}

.cards2
{
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.5;
}

.cards2 > h3
{
    font-size: 24px;
    font-weight: 400;
    padding: 12px 24px;
    background-color: rgb(231, 230, 230);
}

.itemsC2
{
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.itemsC2 > img
{
    width: 70px;
    height: 70px;
}

.itemsC2 > div
{
    height: 70px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemsC2 > div > h3
{
    font-size: 18px;
    font-weight: 400;
}


.itemsC2 > div > p
{
    font-size: 15px;
}

.cards2 > .itemsC2:nth-last-child(1)
{
    display: none;
}

.boxItemsC2
{
    padding: 20px;
}

.boxItemsC2 > span:nth-child(1)
{
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: #000;
    padding: 0 10px;
}

.boxItemsC2 > span
{
    font-size: 12px;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: rgb(231, 230, 230);
}

#footerI
{
    background-color: #616161;
    color: #fff;
    padding: 32px;
    font-size: 15px;
    line-height: 1.5;
}


.buttonsFI > button
{
    display: inline-block;
    overflow: hidden;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
}

.buttonsFI > button:hover
{
    background-color: #fff;
    color: #000;
}

.buttonsFI > button:nth-child(1)
{
    cursor: not-allowed;
    opacity: 0.3;
}

.buttonsFI > button:nth-child(2)
{
    cursor: pointer;
}

#footerI > p
{
    margin: 16px 0;
}

#footerI > p > a
{
    color: inherit;
}


@media screen and (min-width: 1200px)
{
    #mainI
    {
        width: 75%;
        flex-direction: row;
        margin-top: 10px;
    }

    #section1M
    {
        width: 65%;
        margin-right: 25px;
    }

    #section2M
    {
        width: 35%;
        padding: 10px 0;
    }

    .cards2 > .itemsC2:nth-last-child(1)
    {
        display: flex;
    }

}
